<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz Game</title>
    <meta name="description" content="Quiz Game with Flask">
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  
  <body>
      <div class="bottom-middle">
        <img src="/static/logo.png" alt="">
        <h1>ROOKIES' BRAIN TEASER</h1>
        <h2>Welcome to ROOKIES' BRAIN TEASER!!</h2>
        <h4>In this quiz, there are going to be a turn of questions which you are permitted to attempt once.</h4>
        <h4>Your final score will be displayed at the end of the quiz</h4>
        <h1>GoodLuck!!</h1>

        <a href="/quiz/Question0"><input type="submit" value="Start Quiz"></a>
      </div>

  </body>
</html>
